<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    {% include 'refer/header.html'%}

    <script>
      function check_state(_state){
        // _state가 2라면
        if (_state == '2'){
          alert('로그인 실패')
        }else if(_state == '3'){
          alert('잠시 후 다시 시도해 주세요')
        }
      }
    </script>  
  </head>
  <body onload="check_state('((_state))')" class="d-flex align-items-center py-4 bg-body-tertiary">
  
    {% include 'refer/theme_button.html'%} 

    <!-- contents -->
    <main class="form-signin w-100 m-auto">
      <form action="/main" method="post">
        <!-- 이미지 로고 -->
        <img class="mb-4" src="{{url_for('static', filename='img/bootstrap-logo.svg')}}" alt="" width="72" height="57">
        <!-- 로고 밑의 텍스트 -->
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <!-- 첫번째 유저의 입력 공간 -->
        <div class="form-floating">
          <input type="text" name="input_id" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">ID</label>
        </div>
        <!-- 두번째 유저의 입력 공간 -->
        <div class="form-floating">
          <input type="password" name="input_pass" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <!-- 로그인 버튼 -->
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        
        <!-- 회원 가입 버튼 생성 -->
        <a href="/signup" 
          class="btn btn-info w-100 py-2"
          style="margin-top: 8px;">회원가입</a>
        
      </form>
    </main>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

  </body>
</html>